select {
  width: 30%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

.accordion {
  background-color: #4b0150;
  color: black;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: 1px solid grey;
  text-align: left;
  outline: none;
  font-size: 1em;
  transition: 0.4s;
}

.active,
.accordion:hover {
  background-color: #ccc;
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: #383838;
  overflow: hidden;
}

ul.b {
  list-style-type: square;
  font-size: 1.4em;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 30px;
}

#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td,
#customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr {
  background-color: #f2f2f2;
}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4b0150;
  color: white;
}

/* bubble box */

.comment__arrow {
  border-style: solid;
  border-width: 20px 0 0 20px;
  border-color: transparent transparent transparent #333333;
  position: absolute;
  top: -20px;
}

.comment__bubble {
  background: #333333;
  padding: 24px 24px 24px 24px;
  margin-bottom: 12px;
  margin-top: 13px;
  border-radius: 5px;
  position: relative;
  font-size: 1em;
  
}

.comment__bubble--write {
  background: transparent;
  border: 1px solid #edf1ee;
  padding: 19px 24px 0 24px;
}

.comment__bubble--write .comment__arrow {
  border-color: transparent;
}
.comment_author {
  
  font-size: 1.4em;
  font-family: Arial, Helvetica, sans-serif;

}
.comment_color {
  
  font-size: 1.4em;
  font-family: Arial, Helvetica, sans-serif;
  color:#ddd;
  

}
