* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
}
body {
  line-height: 1.5;
  background-color: #4b0150;
}
.card-wrapper {
  max-width: 1100px;
  margin: 0 auto;
}
img {
  width: 100%;
  display: block;
}
.img-display {
  overflow: hidden;
}
.img-showcase {
  display: flex;
  width: 100%;
  transition: all 0.5s ease;
}
.img-showcase img {
  min-width: 100%;
}
.img-select {
  display: flex;
}
.img-item {
  margin: 0.3rem;
}

.product-content {
  padding: 2rem 1rem;
}
.product-title {
  font-size: 3rem;
  text-transform: capitalize;
  font-weight: 700;
  position: relative;
  color: white;
  margin: 1rem 0;
}

.product-price {
  margin: 1rem 0;
  font-size: 1rem;
  font-weight: 700;
}
.product-price span {
  font-weight: 400;
}

.product-detail h2 {
  text-transform: capitalize;
  color: white;
  padding-bottom: 0.6rem;
}
.product-detail p {
  font-size: 1rem;
  padding: 0.3rem;
  opacity: 0.8;
  color: white;
}

.navbar {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  background-color: #2d0130;
  border-style: solid;
  border-color: white;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

.card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1.5rem;
}
.card-wrapper {
  height: 135vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.product-description {
  padding-top: 0;
  color: #ccc;
}

.basket button {
  padding: 10px 20px;
  border-radius: 7px;
  border: none;
  background-color: #2d0130;
  color: #ccc;
  font-size: 18px;
  text-transform: capitalize;
}
.trailer{
  color: white;
}