article {
    position: relative;
    display: block;
    float: left;
    width: 235px;
    text-align: center;
    padding-top: 20px;
    padding-right: 0px;
    padding-bottom: 136px;
    padding-left: 0px;
    max-height: 450px;
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: rgb(246, 25, 242);
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: rgb(246, 25, 242);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(246, 25, 242);
    margin-top: 0px;
    margin-right: -1px;
    margin-bottom: 0px;
    margin-left: 0px;
    box-sizing: border-box;
    


}


button {
    display: inline-block;
    background-color: rgb(246, 25, 242);
    border-radius: 5px;
    border: 2px double #cccccc;
    color: #eeeeee;
    text-align: center;
    font-size: 28px;
    padding: 10px;
    width: 150px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

productContainer {
    width: 100%;
    text-align: center;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    justify-content: center;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    flex-flow: row wrap;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 20%;
}

productHeader {
    background: none;
    background-image: none;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;

    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
    border: 0;
    border-top-color: initial;
    border-top-style: initial;
    border-top-width: 0px;
    border-right-color: initial;
    border-right-style: initial;
    border-right-width: 0px;
    border-bottom-color: initial;

    color: #333;
    padding: 0 15px 20px;
    padding-top: 0px;
    padding-right: 15px;
    padding-bottom: 20px;
    padding-left: 15px;
    height: 241px;
}

productContent {
    display: block;

    padding: 0 15px;
    padding-top: 0px;
    padding-right: 15px;
    padding-bottom: 0px;
    padding-left: 15px;
    margin-top: 12px;
    height: 152px;
}

productPrice {
    border-top: 1px solid #dbdbdb;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgb(219, 219, 219);
    padding-top: 5px;
    height: 114px !important;
}

ProductImg {
    width: auto;
    vertical-align: middle;
}


productHeader>a {
    display: block;
    height: 200px;
    width: 100%;
    line-height: 150px;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;


}

plpTitle {
    float: right;
    position: relative;
    background: white;
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;

    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: white;
    width: calc(100% - 275px);
    width: -webkit-calc(100% - 275px);
    width: -ms-calc(100% - 275px);
    margin: 0 10px 0 0;
    margin-top: 0px;
    margin-right: 10px;
    margin-bottom: 0px;
    margin-left: 0px;
}

pdpcontainer {
    display: flex;
    align-items: center;
    justify-content: center
}

pdpimage {
    max-width: 100% flex-basis 40%
}

pdpdescription {
    font-size: 20px;
    padding-left: 20px;
}

.productHeader>a {
    text-align: center;
    font-size: 30px;

}


* {
    font-family: 'Montserrat', sans-serif;
    font-size: 500 1rem;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*sets the properties for the body*/
body {
    background-color: #4B0150;
    margin: 0;
}

/*Navbar at the top*/
.navbar {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    background-color: #2d0130;
    border-style: solid;
}

.logo {
    width: 120px;
    height: 120px;
    cursor: pointer;
    padding-left: 10px;
    display: inline-flex;
    float: left;
}

.navbar ul li {
    display: inline-flex;
    float: left;
    padding-top: 47.5px;
    padding-left: 40px;
    padding-right: 40px;
}

.navbar ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
}

/*Navbar 2 for games*/

.navbar2 {
    overflow: hidden;
    background-color: #2d0130;
    font-family: Arial, Helvetica, sans-serif;

}

.navbar2 a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin-left: 20%;
}

.dropdown {
    float: left;
    overflow: hidden;
    margin-left: 20%;
}

.dropdown .dropbtn {
    cursor: pointer;
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar2 a:hover,
.dropdown:hover .dropbtn,
.dropbtn:focus {
    background-color: black;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    color: white;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    color: white;
    margin-left: 12px;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}

/*footer */
.container {
    max-width: 1170px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style: none;
}

.footer {
    background-color: #2d0130;
    padding: 70px 0;
    padding-top: 60%;
}

.footer-col {
    width: 33%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li {
    color: #ffffff;
    color: #bbbbbb;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: #2d0130;
    background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width: 574px) {
    .footer-col {
        width: 100%;
    }
}

/**/







/*log in/sign up css*/
.form>*:first-child {
    margin-top: 0;
}

.form>:last-child {
    margin-bottom: 0;
}

.formTitle {
    margin-bottom: 2rem;
    text-align: center;

}

.formMessage {
    text-align: center;
    margin-bottom: 1rem;
}

.formMessageSuccess {
    color: var(--colorSuccess);
}

.formMessageError {
    color: var(--colorError);
}

.formInputGroup {
    margin-bottom: 1rem;

}

.formInput {
    display: block;
    width: 100%;
    padding: 0.75rem;
    box-sizing: border-box;
    border-radius: var(--border-radius);
    border: 1px solid #dddddd;
    outline: none;
    background: #eeeeee;
    transition: background 0.2s, border-color 0.2s;

}

.formInput:focus {
    border-color: var(--colorPrimary);
    background: #ffffff;
}

.formInputErrorMessage {
    color: var(--colorError);
    border-color: var(--colorError);
    text-align: center;
    margin-top: 1rem;
    font-weight: bold;
}

.formButton {
    width: 100%;
    padding: 1rem 2rem;
    font-weight: bold;
    font-size: 1.1rem;
    color: #eeeeee;
    border: none;
    border-radius: var(--border-radius);
    outline: none;
    cursor: pointer;
    background: var(--colorPrimary);
}

.formButton:hover {
    background: var(--colorPrimaryDark);
}

.formButton:active {
    transform: scale(0.98);
}

.formText {
    text-align: center;
}

.formLink {
    color: var(--colorSecondary);
    text-decoration: none;
    cursor: pointer;
}

.formLink:hover {
    text-decoration: underline;
}