* {
    font-family: 'Montserrat', sans-serif;
    font-size: 500 1rem;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*sets the properties for the body*/
body {
    background-color: #4B0150;
    margin: 0;
}

/*Navbar at the top*/
.navbar {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    background-color: #2d0130;
    border-style: solid;
}

.logo {
    width: 120px;
    height: 120px;
    cursor: pointer;
    padding-left: 10px;
    display: inline-flex;
    float: left;
}

.navbar ul li {
    display: inline-flex;
    float: left;
    padding-top: 47.5px;
    padding-left: 40px;
    padding-right: 40px;
}

.navbar ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
}

/*Navbar 2 for games*/

.navbar2 {
    overflow: hidden;
    background-color: #2d0130;
    font-family: Arial, Helvetica, sans-serif;
    
  }
  
  .navbar2 a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin-left: 20%;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
    margin-left: 20%;
  }
  
  .dropdown .dropbtn {
    cursor: pointer;
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar2 a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
    background-color: black;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    color: white;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    color: white;
    margin-left: 12px;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .show {
    display: block;
  }

/*footer */
.container {
    max-width: 1170px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style: none;
}

.footer {
    background-color: #2d0130;
    padding: 70px 0;
}

.footer-col {
    width: 33%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li {
    color: #ffffff;
    color: #bbbbbb; 
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: #2d0130;
    background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width: 574px) {
    .footer-col {
        width: 100%;
    }
}

/**/







/*log in/sign up css*/
.form>*:first-child {
    margin-top: 0;
}

.form>:last-child {
    margin-bottom: 0;
}

.formTitle {
    margin-bottom: 2rem;
    text-align: center;

}

.formMessage {
    text-align: center;
    margin-bottom: 1rem;
}

.formMessageSuccess {
    color: var(--colorSuccess);
}

.formMessageError {
    color: var(--colorError);
}

.formInputGroup {
    margin-bottom: 1rem;

}

.formInput {
    display: block;
    width: 100%;
    padding: 0.75rem;
    box-sizing: border-box;
    border-radius: var(--border-radius);
    border: 1px solid #dddddd;
    outline: none;
    background: #eeeeee;
    transition: background 0.2s, border-color 0.2s;

}

.formInput:focus {
    border-color: var(--colorPrimary);
    background: #ffffff;
}

.formInputErrorMessage {
    color: var(--colorError);
    border-color: var(--colorError);
    text-align: center;
    margin-top: 1rem;
    font-weight: bold;
}

.formButton {
    width: 100%;
    padding: 1rem 2rem;
    font-weight: bold;
    font-size: 1.1rem;
    color: #eeeeee;
    border: none;
    border-radius: var(--border-radius);
    outline: none;
    cursor: pointer;
    background: var(--colorPrimary);
}

.formButton:hover {
    background: var(--colorPrimaryDark);
}

.formButton:active {
    transform: scale(0.98);
}

.formText {
    text-align: center;
}

.formLink {
    color: var(--colorSecondary);
    text-decoration: none;
    cursor: pointer;
}

.formLink:hover {
    text-decoration: underline;
}
/* 
About Page stuff I used dont change please */
.aboutText{
    font-family: 'Montserrat', sans-serif;
    font-size: 500 1rem;
    color: white;
}
.ignore-css{all:unset;}
.map{
    /* position: absolute; */
    /* top: 50%; */
    /* border-right: 50%; */
    /* align-items: center; */
    display: block;
  margin-left: auto;
  margin-right: auto;
  padding-left: 29%;
  padding-bottom: 8%;
}

/* .addingBox{
    border-radius: 5px;
    background-color: #ffffff;
    padding: 20px;
    margin-top: 5%;
    margin-left: 40%;
    margin-right: 40%;
} */

.text{
    font-size: 24px; 
    padding-bottom: 100px; 
    text-align: center; 
    border-width:3px; 
    border-style:solid; 
    border-color:#FFFFFF;
    
}

