*{ 
    font-family:'Montserrat', sans-serif;
    font-size: 500 1rem;
    color: #000000;
}

.formHidden {
    display: none;
}

/*sets the properties for the body*/
body{
    --colorPrimary: #a800aa;
    --colorPrimaryDark: #420142 ;
    --colorSecondary:#000000;
    --colorError: #ba0000;
    --colorSuccess: #4bb544;
    --border-radius: 4px;
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background-color: var(--colorPrimary);
    background-size: cover;

}

.container{
   width: 400px;
   max-width: 400px;
   margin: 1rem;
   padding: 2rem;
   box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
   border-radius: var(--border-radius);
   background: #ffffff;

}

.form > *:first-child{
    margin-top: 0;
}

.form >:last-child{
    margin-bottom: 0;
}

.formTitle{
    margin-bottom: 2rem;
    text-align: center;
    
}

.formMessage{
    text-align: center;
    margin-bottom: 1rem;
}

.formMessageSuccess{
    color: var(--colorSuccess);
}

.formMessageError{
    color: var(--colorError);
}

.formInputGroup{
    margin-bottom: 1rem;

}

.formInput{
    display: block;
    width: 100%;
    padding: 0.75rem;
    box-sizing: border-box;
    border-radius: var(--border-radius);
    border: 1px solid #dddddd;
    outline: none;
    background: #eeeeee;
    transition: background 0.2s, border-color 0.2s;

}

.formInput:focus{
    border-color: var(--colorPrimary);
    background: #ffffff;
}

.formInputErrorMessage{
    color: var(--colorError);
    border-color: var(--colorError);
    text-align: center;
    margin-top: 1rem;
    font-weight: bold;
}

.formButton{
    width: 100%;
    padding: 1rem 2rem;
    font-weight: bold;
    font-size: 1.1rem;
    color: #eeeeee;
    border: none;
    border-radius: var(--border-radius);
    outline: none;
    cursor: pointer;
    background: var(--colorPrimary);
}

.formButton:hover{
    background: var(--colorPrimaryDark);
}

.formButton:active {
    transform: scale(0.98);
}

.formText{
    text-align: center;
}

.formLink{
    color: var(--colorSecondary);
    text-decoration:none;
    cursor: pointer;
}

.formLink:hover{
    text-decoration: underline;
}